<footer>

  <div class="container">
    <div class="app-title">
      <h1><a href="/">Chatapp9.19.20</a></h1>
      <p>Created by <a href="https://github.com/yoshikiYamashita" target="_blank">YOSHIKI YAMASHITA (click here to visit my github page)</a></p>
      <p>Welcome & thank you for visiting (^_^)</p>
      <p><a href="https://github.com/yoshikiYamashita/chatapp9.19.20" target="_blank">Sorce code and README here</a></p>
    </div>
  </div>

</footer>
</body>
</html>
