<footer>

  <div class="container">
    <div class="app-title">
      <h1><a href="/">Chatapp9.19.20</a></h1>
      <p>Created by <a href="/">YOSHIKI Y</a></p>
      <p>Welcome & thank you for visiting (^_^)</p>
    </div>
  </div>

</footer>
</body>
</html>