<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatapp919</title>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/modules/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <script src="https://kit.fontawesome.com/8ab07213a2.js" crossorigin="anonymous"></script>
</head>
<body>

  <header>
    <div class="app-title">
      <h1><a href="/">Chatapp9.19.20</a></h1>
    </div>
    <ul>
      <% if(user){ %>
        <li><a href='/user/<%=user._id%>'>Welcom, <%= user.userName %></a></li>
        <li><a href="/logout">Log out</a></li>
      <% } else {%>
        <li><btn class="login-btn">Log in</btn></li>
        <li><btn class="signup-btn">Sign up</btn></li>
      <% } %>
    </ul>
  </header>
