<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <header>
    <div class="app-title">
      <h1>Chatapp919</h1>
    </div>
    <ul>
      <li>Sign up</li>
      <li>Log in</li>
      <!-- <li>Welcom, Yoshiki</li>
      <li>Log out</li> -->
    </ul>
  </header>

  
  <div class="main">
    <div class="main-left">
      <div class="status-controls">
        <h1>Room status</h1>
        <ul>
          <li class="active">Active</li>
          <li>Archived</li>
          <li>Saved</li>
        </ul>
      </div>
      <!-- <hr> -->
      <div class="sort-controls">
        <h1>Sort by</h1>
        <ul>
          <li class="active">Last updated</li>
          <li>Last created</li>
          <li>Most comments</li>
        </ul>
      </div>
      <hr>
      <button>Create a new room</button>
    </div>

    <div class="main-right">
      <div class="chatroom">
        <h1>Title chatroom 1</h1>
        <p>0 people online</p>
        <p>0 comments</p>
        <p>last updated at 3hours ago</p>
      </div>
      <div class="chatroom">
        <h1>Title chatroom 2</h1>
        <p>0 people online</p>
        <p>0 comments</p>
        <p>last updated at 3hours ago</p>
      </div>
      <div class="chatroom">
        <h1>Title chatroom 3</h1>
        <p>0 people online</p>
        <p>0 comments</p>
        <p>last updated at 3hours ago</p>
      </div>
      <div class="chatroom">
        <h1>Title chatroom 4</h1>
        <p>0 people online</p>
        <p>0 comments</p>
        <p>last updated at 3hours ago</p>
      </div>

      <div class="chatroom">
        <h1>Title chatroom 5</h1>
        <p>0 people online</p>
        <p>0 comments</p>
        <p>last updated at 3hours ago</p>
      </div>

    </div>
  </div>

  <div class="form-display">

    <form action="" class="Signup-form">
      <span class="close-form">close</span>
      <h1> Sign up </h1>
      <label for="email">Email:</label>
      <input type="text" name="email" required placeholder=" required">
      <br>
      <label for="password">Password:</label>
      <input type="text" name="password" required placeholder=" required">
      <br>
      <label for="username">Username:</label>
      <input type="text" name="username" required placeholder=" required">
      <br>
      <button>Sign up</button>
    </form>

<!-- 
    <form action="" class="login-form">
      <span class="close-form">close</span>
      <h1>Log in</h1>
      <label for="email">Email:</label>
      <input type="text" name="email" required>
      <br>
      <label for="password">Password</label>
      <input type="text" name="password" required>
      <br>
      <button>Log in</button>
    </form> -->

    <!-- <form class="createroom-form">
      <span class="close-form">close</span>
      <h1>Create a new room</h1>
      <label for="title">Title:</label>
      <input type="text" name="title" required placeholder=" required">
      <br>
      <label for="description">Description:</label>
      <input type="text" name="description" maxlength="30" placeholder=" optional" >
      <br>
      <button>Create</button>
    </form> -->

  </div>


  <footer>
    <p> Created by Yoshiki Y </p>
  </footer>
  
</body>
</html>