<%- include('partials/header') -%>

<div class="not-found">
  <div class="not-found-container">
    <h1 class="not-found-msg">Page not found</h1>
    <a href="/">Click here to go back to home</a>
  </div>
</div>

<%- include('partials/footer') -%>