header {
  .app-title {
    h1 {
      margin: 0 10px;
    }
  }
  ul {
    padding-right: 5px;
    li {
      margin: 0 5px;
    }
  }
}

.room-main {
  width: 95%;
}


.main-content {

  .profile {
    width: 95%;
  }
}
